* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar Styles */

.navbar {
  padding: 2%;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-item {
  text-decoration: none;
}

/* Book List UL */

.book-list {
  padding: 3%;
  list-style: none;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.add-book {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 3%;
}
